section {
  /* background: #dce7eb; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.biglid {
  width: 100px;
  height: 20px;
  background-color: #e21414;
}

.trash {
  /* background: #e21414; */
  width: 120px;
  height: 130px;
  content: url(../Assests/Icons/trash);
  /* position: relative; */
}

/* .trash:after {
  content: "";
  position: absolute;
  left: -99px;
  right: 0;
  bottom: -50px;
  width: 300px;
} */
.trashblock p {
  /* position: absolute;  */
  height: 12px;
  /* background: #fd4451; */
  /* top: -19px; */
  /* left: -10px; */
  /* right: -10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  /* transform-origin: 19% 100%; */
  /* transform: rotate(-45deg); */
  /* transition: transform 250ms; */
  animation: actiontrashlid 1.2s;
  width: 122px;
  margin-bottom: 4px;
}
@keyframes actiontrashlid {
  0% {
    transform: translateX(0px) rotate(1deg);
    top: -20px;
    display: none;
    /* left: 0px; */
    margin-bottom: 36px;
  }
  80% {
    transform: translateX(-86px) rotate(-135deg);
    /* top: -20px; */
    /* left: 20px; */
    display: none;
    margin-bottom: 36px;
  }
  100% {
    transform: none;
    margin-bottom: 6px;
  }
}

.trashblock p:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 7px;
  background: #e21414;
  top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 27px;
}
/* 
.trash i {
  position: fixed;
  width: 5px;
  height: 50px;
  background: #fff;
  display: block;
  margin: 15px 30px;
  border-radius: 5px;
}
.trash i:after {
  content: "";
  width: 5px;
  height: 50px;
  background: #fff;
  position: absolute;
  left: -18px;
  border-radius: 5px;
}
.trash i:before {
  content: "";
  width: 5px;
  height: 50px;
  background: #fff;
  position: absolute;
  right: -18px;
  border-radius: 5px;
} */

.trashblock {
  background: #0a0a0a91;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file {
  border-radius: 0px;
  width: 63px;
  content: url(../Assests/Icons/file.png);
  background: transparent;
  position: relative;
  z-index: -9;
  /* margin: 9px; */
  /* opacity: 0; */
  top: 140px;
  /* top: -2px; */
  /* opacity: 0; */
  animation: file 1s;
  transform: rotate(45deg);
  /* animation-delay: 1s; */
}

@keyframes file {
  0% {
    top: 0px;
    /* left: -30px; */
    /* transform: rotate(139deg) translateX(-170px) rotate(256deg); */
    overflow: hidden;
    /* opacity: 1; */

    transform: rotate(0deg);
    /* opacity: 1; */
  }
  99% {
    top: 140px;
    /* transform: rotate(103deg) translateX(26px) rotate(255deg); */
    overflow: hidden;
    /* opacity: 1; */

    transform: rotate(45deg);

    /* opacity: 1; */
  }
  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}

/* delbtn  */
